# TOPIC: String Based Assignment Problem #

1. Write a program to reverse a string.

In [17]:
a = "the"
print(a[::-1])

eht

2. Check if a string is a palindrome.

In [2]:
in_str = input("Please enter the string: ")
in_str=in_str.lower()
rev_str=in_str[::-1]
if (list (in_str) == list (rev_str)):
    print ("The string is a palindrome.")
else:
    print ("The string is not a palindrome.")

3. Convert a string to uppercase.

In [3]:
in_str='Hello'
out_str=in_str.upper()
print(out_str)

4. Convert a string to lowercase.

In [4]:
in_str='Hello'
out_str=in_str.lower()
print(out_str)

5. Count the number of vowels in a string.

In [5]:
string = input("Please enter the string: ")
vowels = set("aeiouAEIOU")
count = 0
for s in string:
    if s in vowels:
        count=count+1
print("No. of vowels is :", count)

6. Count the number of consonants in a string.

In [8]:
string = input("Please enter the string: ")
vowels = set("aeiouAEIOU")
count = 0
for s in string:
    if s not in vowels:
        count=count+1
print("No. of consonants is :", count)

7. Remove all whitespaces from a string.

In [10]:
text = "   Hello, World!   "
trimmed_text = text.strip()
print(trimmed_text)

8. Find the length of a string without using the `len()` function.

In [13]:
string='hello'
cnt=0
for s in string:
    cnt=cnt+1
print(cnt)

9. Check if a string contains a specific word.

In [14]:
if 'Mon' in 'Monday':
    print('Found')
else:
    print('Not Found')

10. Replace a word in a string with another word.

In [15]:
in_string='Monday'
out_string=in_string.replace('Mon','Sun')
print(out_string)

11. Count the occurrences of a word in a string.

In [18]:
str ="PWSkills - A One Stop Tech Solution."
word ="PWSkills"
a = str.split(" ") 
count = 0
for i in range(0, len(a)):
    if (word == a[i]):
       count = count + 1
print(count)

12. Find the first occurrence of a word in a string.

In [20]:
txt = "Hello, welcome to my home."
x = txt.find("e")
print(x)

13. Find the last occurrence of a word in a string.

In [21]:
txt = "Hello, welcome to my home."
x = txt.rfind("e")
print(x)

14. Split a string into a list of words.

In [22]:
txt = "Hello World!"
l=txt.split()
l

15. Join a list of words into a string.

In [25]:
l=['Hello', 'World!']
print(" ".join(l))

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [26]:
txt = "Hello World!"
out=txt.replace(" ","_")
out

17. Check if a string starts with a specific word or phrase.

In [30]:
txt = "Hello, welcome to PWSkills."
x = txt.startswith("Hello")
x

18. Check if a string ends with a specific word or phrase.

In [37]:
txt = "Hello, welcome to my PWSkills."
x = txt.endswith("PWSkills.")
x

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [38]:
in_str="hello world"
print(in_str.title())

20. Find the longest word in a string.

In [16]:
txt = "Hello welcome to the PWSkills."
length=0
w=''
for word in txt.split():
    if(len(word) > length):
        length = len(word) 
        w = word

print("Longest word is ", w, " and its length is ", length)

Longest word is  PWSkills.  and its length is  9

21. Find the shortest word in a string.

In [17]:
txt = "Hello welcome to the PWSkills"
length=0
w=''
for word in txt.split():
    if(len(word) > length):
        length = len(word) 
        w = word

print("Longest word is ", w, " and its length is ", length)

Longest word is  PWSkills  and its length is  8

In [18]:
txt = "Hello welcome to the PWSkills."
length =min([len(x) for x in txt.split()])
w=''
for word in txt.split():
    if(len(word) <= length): 
        w = word
        
print("Shortest word is ", w, " and its length is ", length)

Shortest word is  to  and its length is  2

22. Reverse the order of words in a string.

In [15]:
txt = "Hello World" [::-1]
print(txt)

dlroW olleH

23. Check if a string is alphanumeric.

In [93]:
s = 'HelloWorld2019'
print(s.isalnum())

24. Extract all digits from a string.

In [4]:
txt = "I gave 400 rs to 4 persons"
print("The original string : " + txt)
#listi=[]
res=[]
for i in txt.split():
    if i.isdigit():
        res.append(int(i)) 
        
print("The numbers list is :",''.join(str(res)))

The original string : I gave 400 rs to 4 persons
The numbers list is : [400, 4]

25. Extract all alphabets from a string.

In [6]:
txt = "I gave 400 rs to 4 persons"
only_alpha = ""

for char in txt:
    if char.isalpha():
        only_alpha += char
print(only_alpha)

Igaverstopersons

26. Count the number of uppercase letters in a string.

In [14]:
txt = "I GAVE 400 Apples to 4 PErsONS"
count1=0
for i in txt:
      if(i.isupper()):
            count1=count1+1
print("The number of uppercase characters is:" , count1)

The number of uppercase characters is: 11

27. Count the number of lowercase letters in a string.

In [19]:
txt = "I GAVE 400 Apples to 4 PErsONS"
count1=0
for i in txt:
      if(i.islower()):
            count1=count1+1
print("The number of lowercase characters is:" , count1)

The number of lowercase characters is: 9

28. Swap the case of each character in a string.

In [23]:
string = 'Hello Welcome PwSkills'
print(string.swapcase())

hELLO wELCOME pWsKILLS

29. Remove a specific word from a string.

In [22]:
string = 'Hello Welcome PwSkills'
character = 'Hello'
string=string.replace(character, '')
print(string)

 Welcome PwSkills

30. Check if a string is a valid email address.

In [28]:
import re
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
email='atul@gmail.com'
if(re.fullmatch(regex, email)):
    print("Valid Email")
else:
    print("Invalid Email")

Valid Email

31. Extract the username from an email address string.

In [50]:
email='atulkpandey@gmail.com'
len_user=email.index('@')
final=email[:len_user]
print("The username is", final)

The username is atulkpandey

32. Extract the domain name from an email address string.

In [4]:
email='atulkpandey@gmail.com'
res = email[email.index('@') + 1 : ]
print("The username is", res)

The username is gmail.com

33. Replace multiple spaces in a string with a single space.

In [2]:
string = 'welcome    to  pwskills      python      course'

out_string = " ".join(string.split())
print(out_string)

welcome to pwskills python course

34. Check if a string is a valid URL.

In [1]:
pip install validators

Collecting validators
  Downloading validators-0.21.2-py3-none-any.whl (25 kB)
Installing collected packages: validators
Successfully installed validators-0.21.2
Note: you may need to restart the kernel to use updated packages.

In [7]:
import validators
validation = validators.url("http:/www.google.com")
if validation:
    print("URL is valid")
else:
    print("URL is invalid")

URL is invalid

35. Extract the protocol (http or https) from a URL string.

In [8]:
from urllib.parse import urlparse

domain = urlparse('http://www.example.test/foo/bar').netloc
print(domain)

www.example.test

36. Find the frequency of each character in a string.

In [10]:
in_str='pwskills'
all_freq = {}
for i in in_str:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
 
# printing result
print("Count of all characters in pwskills is :\n "
      + str(all_freq))

Count of all characters in pwskills is :
 {'p': 1, 'w': 1, 's': 2, 'k': 1, 'i': 1, 'l': 2}

37. Remove all punctuation from a string.

In [12]:
import string

in_str = 'pwskills, is best: for ! python ;'

out_str = in_str.translate(str.maketrans('', '', string.punctuation))
print(out_str)

pwskills is best for  python

38. Check if a string contains only digits.

In [13]:
in_string1 = '223344556789'
in_string2 = 'abc231igh'

# printing initial string
print("Initial Strings : ", in_string1, in_string2)

# Using isdigit()
if in_string1.isdigit():
	print("String1 contains all numbers")
else:
	print("String1 doesn't contains all numbers")

if in_string2.isdigit():
	print("String2 contains all numbers")
else:
	print("String2 doesn't contains all numbers")

Initial Strings :  223344556789 abc231igh
String1 contains all numbers
String2 doesn't contains all numbers

39. Check if a string contains only alphabets.

In [14]:
in_str1='pwskills'
out1 = in_str1.isalpha()
out1

True

40. Convert a string to a list of characters.

In [15]:
string = "pwskills"
print([*string])

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

41. Check if two strings are anagrams.

In [21]:
s1='listen'
s2='silent'
if(sorted(s1)== sorted(s2)):
    print("The strings are anagrams.")
else:
    print("The strings aren't anagrams.")

The strings are anagrams.

42. Encode a string using a Caesar cipher.

In [26]:
import string
import sys

# The word to be encoded shifts by 5 to the right, while the word to be decoded shifts by 5 to the left.
shift = 5

print(' Caesar Cipher '.center(40, '*'))
word = input('Enter the word: ')


# ENCODING FUNCTION
def encode_words(words, shifts):
    """This encodes a word using Caesar cipher."""

    # Variable for storing the encoded word.
    encoded_word = ''

    for i in words:

        # Check for space and tab
        if ord(i) == 32 or ord(i) == 9:
            shifted_word = ord(i)

        # Check for punctuations
        elif i in string.punctuation:
            shifted_word = ord(i)

        # Check if the character is lowercase or uppercase
        elif i.islower():
            shifted_word = ord(i) + shifts

            # Lowercase spans from 97 to 122 (decimal) on the ASCII table
            # If the chars exceeds 122, we get the number it uses to exceed it and add to 96 (the character before a)
            if shifted_word > 122:
                shifted_word = (shifted_word - 122) + 96

        else:
            shifted_word = ord(i) + shifts

            # Uppercase spans from 65 to 90 (decimal) on the ASCII table
            # If the chars exceeds 90, we get the number it uses to exceed it and add to 64 (the character before A)
            if shifted_word > 90:
                shifted_word = (shifted_word - 90) + 64

        encoded_word = encoded_word + chr(shifted_word)

    print('Word:', word)
    print('Encoded word:', encoded_word)
encode_words(word,shift)

************ Caesar Cipher *************

Enter the word:  Hello World

Word: Hello World
Encoded word: Mjqqt Btwqi

43. Decode a Caesar cipher encoded string.

In [27]:
import string
import sys

# The word to be encoded shifts by 5 to the right, while the word to be decoded shifts by 5 to the left.
shift = 5
word = input('Enter the word: ')
# DECODING FUNCTION
def decode_words(words, shifts):
    """This decodes a word using Caesar cipher"""

    # Variable for storing the decoded word.
    decoded_word = ''

    for i in words:

        # Check for space and tab
        if ord(i) == 32 or ord(i) == 9:
            shifted_word = ord(i)

        # Check for punctuations
        elif i in string.punctuation:
            shifted_word = ord(i)

        # Check if the character is lowercase or uppercase
        elif i.islower():
            shifted_word = ord(i) - shifts

            # If the char is less 122, we get difference subtract from 123 (the character after z)
            if shifted_word < 97:
                shifted_word = (shifted_word - 97) + 123

        else:
            shifted_word = ord(i) - shifts

            # If the char is less 65, we get difference and subtract from 91 (the character after Z)
            if shifted_word < 65:
                shifted_word = (shifted_word - 65) + 91

        decoded_word = decoded_word + chr(shifted_word)

    print('Word:', word)
    print('Decoded word:', decoded_word)

decode_words(word,shift)

Enter the word:  Mjqqt Btwqi

Word: Mjqqt Btwqi
Decoded word: Hello World

44. Find the most frequent word in a string.

In [28]:
from collections import defaultdict
my_list = ["python is best for coders", "python is fun", "python is easy to learn"]

print("The list is :")
print(my_list)

my_temp = defaultdict(int)

for sub in my_list:
   for word in sub.split():
      my_temp[word] += 1

result = max(my_temp, key=my_temp.get)

print("The word that has the maximum frequency :")
print(result)

The list is :
['python is best for coders', 'python is fun', 'python is easy to learn']
The word that has the maximum frequency :
python

45. Find all unique words in a string.

In [29]:
in_str = 'three three three four'

unique_words = set(in_str.split())
print(unique_words)  

length = len(unique_words)
print(length)

{'three', 'four'}
2

46. Count the number of syllables in a string.

In [30]:
word=input("Enter the word:")
syllable_count=0
for w in word:
      if(w=='a' or w=='e' or w=='i' or w=='o' or w=='u' or w=='A' or w=='E' or w=='I' or w=='O' or w=='U'):
            syllable_count=syllable_count+1
print("The number of syllables in the word is: ")
print(syllable_count)

Enter the word: HELOO

The number of syllables in the word is:
3

47. Check if a string contains any special characters.

In [32]:
# contains any special character

# import required package
import re

# Function checks if the string
# contains any special character
def run(string):

	# Make own character set and pass
	# this as argument in compile method
	regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
	
	# Pass the string in search
	# method of regex object.
	if(regex.search(string) == None):
		print("String is accepted")
		
	else:
		print("String is not accepted.")
	

# Driver Code
if __name__ == '__main__' :
	
	# Enter the string
	string = "pw$Skill$s"
	
	# calling run function
	run(string)

String is not accepted.

48. Remove the nth word from a string.

In [36]:
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring: Hello world
Enter the index of the character to remove: 2

Modified string:
Helo world

49. Insert a word at the nth position in a string.

In [40]:
string=input("Enter the sring:")
w=input("Enter the word")
n=int(input("Enter the index of the character to add:"))
out_string=string[:n] + w + string[n:]

# adding character 'p' at a specific position i.e, at index 9

# printing the resultant string 
print("Adding",w, "at",n,"th index of an input string:\n", out_string)

Enter the sring: hello world
Enter the word your
Enter the index of the character to add: 3

Adding your at 3 th index of an input string:
 helyourlo world

50. Convert a CSV string to a list of lists.

In [37]:
x = 'apple,banana,cherry'
output = x.split(',')
print(output)

['apple', 'banana', 'cherry']

# List Based Practice Problem: #

1. Create a list with integers from 1 to 10.

In [44]:
list_of_numbers = list(range(1, 11))
print(list_of_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [45]:
l = [1, 2, 3, 4, 5]
count = 0
for i in l:
   count = count + 1
print("The length of a list is", count)

The length of a list is 5

3. Append an element to the end of a list.

In [46]:
fruit_list = ["Apple", "Banana"]
print(f'Current Fruits List {fruit_list}')
new_fruit = input("Please enter a fruit name:\n")
fruit_list.append(new_fruit)
print(f'Updated Fruits List {fruit_list}')

Current Fruits List ['Apple', 'Banana']

Please enter a fruit name:
 Mango

Updated Fruits List ['Apple', 'Banana', 'Mango']

4. Insert an element at a specific index in a list.

In [49]:
list1 = [ 1, 2, 3, 4, 5, 6 ]
item = 13
pos = 3
list1.insert(pos, item)
print(list1)

[1, 2, 3, 13, 4, 5, 6]

5. Remove an element from a list by its value.

In [52]:
list1 = [ 1, 2, 3, 4, 5, 6 ]
value = 3
list1.remove(value)
print(list1)

[1, 2, 4, 5, 6]

6. Remove an element from a list by its index.

In [54]:
list1 = [ 1, 2, 3, 4, 5, 6 ]
index = 3
list1.pop(index)
print(list1)

[1, 2, 3, 5, 6]

7. Check if an element exists in a list.

In [55]:
lst = [ 1, 2, 3, 4, 5, 6 ]
i=3
if i in lst:
    print("exist")
else:
    print("not exist")

exist


8. Find the index of the first occurrence of an element in a list.

In [56]:
lst = [ 1, 2, 3, 4, 5, 6, 3 ]
lst.index(3)

2

9. Count the occurrences of an element in a list.

In [59]:
def countX(lst, x):
	count = 0
	for ele in lst:
		if (ele == x):
			count = count + 1
	return count
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,countX(lst, x)))

8 has occurred 5 times

10. Reverse the order of elements in a list.

In [72]:
lst = [ 1, 2, 3, 4, 5, 6 ]
lst.reverse()
print(lst)

[6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [74]:
lst = [ 1, 2, 3, 4, 5, 6 ]
lst.sort(reverse=False)
print(lst)

[1, 2, 3, 4, 5, 6]

12. Sort a list in descending order.

In [75]:
lst = [ 1, 2, 3, 4, 5, 6 ]
lst.sort(reverse=True)
print(lst)

[6, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [83]:
num=[]
for x in range(20):
    if x%2==0:
        num.append(x)
print(num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

14. Create a list of odd numbers from 1 to 20.

In [84]:
num=[]
for x in range(20):
    if x%2!=0:
        num.append(x)
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [88]:
sum_lst=0
lst = [ 1, 2, 3, 4, 5, 6 ]
for a in lst:
    sum_lst+=a
print(sum_lst)

21

16. Find the maximum value in a list.

In [91]:
lst = [ 1, 2, 3, 4, 5, 6 ]
print(max(lst))

6

17. Find the minimum value in a list.

In [92]:
lst = [ 1, 2, 3, 4, 5, 6 ]
print(min(lst))

1

18. Create a list of squares of numbers from 1 to 10.

In [95]:
num=[]
for x in range(1,11):
    x=x*x
    num.append(x)
print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [97]:
import random
randomlist = []
for i in range(0,5):
    n = random.randint(1,30)
    randomlist.append(n)
print(randomlist)

[2, 27, 29, 8, 4]

20. Remove duplicates from a list.

In [99]:
lst = [ 1, 2, 3, 4, 5, 6, 1, 3 ]
uniq_list=list(set(lst))
uniq_list

[1, 2, 3, 4, 5, 6]

21. Find the common elements between two lists.

In [100]:
def common_member(a, b):
	a_set = set(a)
	b_set = set(b)

	if (a_set & b_set):
		print(a_set & b_set)
	else:
		print("No common elements")
		

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
common_member(a, b)

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
common_member(a, b)

{5}
No common elements

22. Find the difference between two lists.

In [101]:
li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]

temp3 = []
for element in li1:
	if element not in li2:
		temp3.append(element)

print(temp3)

[10, 15, 20, 30]

23. Merge two lists.

In [103]:
lst1=[ 1, 2, 3 ]
lst2=[ 4, 5 ]
lst3=lst1+lst2
lst3

[1, 2, 3, 4, 5]

24. Multiply all elements in a list by 2.

In [108]:
list1=[ 1, 2, 3 ]
finl_list=[]
for a in list1:
    a=a*2
    finl_list.append(a)
finl_list

[2, 4, 6]

25. Filter out all even numbers from a list.

In [109]:
def even(x):
    return x % 2 == 0
 
a = [2, 5, 7, 8, 10, 13, 16]
 
result = filter(even, a)
print('Original List :', a)
print('Filtered List :', list(result))

Original List : [2, 5, 7, 8, 10, 13, 16]
Filtered List : [2, 8, 10, 16]

26. Convert a list of strings to a list of integers.

In [119]:
test_list = ['1', '4', '3', '6', '7']
for i in range(0, len(test_list)):
	test_list[i] = int(test_list[i])
print("Modified list is : ",test_list)

Modified list is :  [1, 4, 3, 6, 7]

27. Convert a list of integers to a list of strings.

In [120]:
test_list = [ 1, 4, 3, 6, 7 ]
for i in range(0, len(test_list)):
	test_list[i] = str(test_list[i])
print("Modified list is : ", test_list)

Modified list is :  ['1', '4', '3', '6', '7']

test_list = ['1', '4', '3', '6', '7']
for i in range(0, len(test_list)):
	test_list[i] = int(test_list[i])
print("Modified list is : ",test_list)28. Flatten a nested list.

In [121]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = []
for sublist in my_list:
    for num in sublist:
        flat_list.append(num)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

29. Create a list of the first 10 Fibonacci numbers.

In [122]:
def fibonacci_nums(n):
  if n <= 0:
    return [0]
  sequence = [0, 1]
  while len(sequence) <= n:
    next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
    sequence.append(next_value)
  return sequence
print("First 10 Fibonacci numbers:")
print(fibonacci_nums(10))

First 10 Fibonacci numbers:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

30. Check if a list is sorted.

In [123]:
listA = [11,23,42,51,67]
print("Given list : ",listA)
listA_copy = listA[:]
listA_copy.sort()
if (listA == listA_copy):
   print("Yes, List is sorted.")
else:
   print("No, List is not sorted.")

Given list :  [11, 23, 42, 51, 67]
Yes, List is sorted.

31. Rotate a list to the left by `n` positions.

In [132]:
ln = 2
list_1 = [1, 2, 3, 4, 5, 6]

print('Original List Items Before Left Rotating')
print(list_1)

for i in range(n):
    firstValue = list_1[0]
    for j in range(len(list_1) - 1):
        list_1[j] = list_1[j + 1]
    list_1[len(list_1) - 1] = firstValue

print('Final List Items After Left Rotating')
print(list_1)

Original List Items Before Left Rotating
[1, 2, 3, 4, 5, 6]
Final List Items After Left Rotating
[3, 4, 5, 6, 1, 2]

In [131]:
def rightRotate(lists, num):
	output_list = []
	for item in range(len(lists) - num, len(lists)):
		output_list.append(lists[item])

	# Will add the values before
	# n to the end of new list
	for item in range(0, len(lists) - num):
		output_list.append(lists[item])

	return output_list

n = 2
list_1 = [1, 2, 3, 4, 5, 6]

print(rightRotate(list_1, n))

[5, 6, 1, 2, 3, 4]

32. Rotate a list to the right by `n` positions.

33. Create a list of prime numbers up to 50.

In [131]:
n=50
prime_list=[]
for i in range(2,n+1):
    flag=0
    for j in range(2,int(i/2)+1):
        if(i%j==0):
            flag=1
            break  
    if(flag==0):
        prime_list.append(i)
prime_list

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [135]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
start = 0
end = len(my_list)
step = 3
for i in range(start, end, step):
	x = i
	print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

35. Find the second largest number in a list.

In [136]:
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
list2 = list(set(list1))
list2.sort()
print("Second largest element is:", list2[-2])

Second largest element is: 45


36. Replace every element in a list with its square.

In [138]:
def square_list(list_1):
    for i in range(len(list_1)):
        list_1[i] = list_1[i]**2
        
my_list = [1, 2, 3, 4, 5]
square_list(my_list)
print(my_list)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [140]:
list1 = ['abc', 'xyz', 'def', 'jkl']

list_dict = {}
for i, itm in enumerate(list1):
    list_dict[i] = itm

print(list_dict)

{0: 'abc', 1: 'xyz', 2: 'def', 3: 'jkl'}

38. Shuffle the elements of a list randomly.

In [141]:
import random
test_list = [1, 4, 5, 6, 3]

print("The original list is : " + str(test_list))

random.shuffle(test_list)

print("The shuffled list is : " + str(test_list))

The original list is : [1, 4, 5, 6, 3]
The shuffled list is : [6, 1, 4, 5, 3]

39. Create a list of the first 10 factorial numbers.

In [7]:
def factorial(n):
    fact = 1
    for factor in range(1, n + 1):
        fact *= factor
    return fact

my_list = list(range(1, 11))
my_factorials = [factorial(x) for x in my_list]
my_factorials

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [9]:
def cmn(l1, l2):
    cmnt = "Common Element Not Found"
    for i in l1:
        for j in l2:
            if i == j:
                cmnt="Common Element Found"
                return cmnt
    return cmnt
l1=[ 1,2,3,4]
l2=[4,5,6,7]
cmn(l1,l2)

'Common Element Found'

41. Remove all elements from a list.

In [12]:
l1=[ 1,2,3,4]
l1.clear()
l1

[]

42. Replace negative numbers in a list with 0.

In [13]:
test_list = [5, 6, -3, -8, 9, 11, -12, 2]
print("The original list is : " + str(test_list))
res = [ele for ele in test_list if ele > 0]
print("List after filtering : " + str(res))

The original list is : [5, 6, -3, -8, 9, 11, -12, 2]
List after filtering : [5, 6, 9, 11, 2]

43. Convert a string into a list of words.

In [15]:
in_str="Welcome to the pwskills"
in_str=in_str.split()
in_str

['Welcome', 'to', 'the', 'pwskills']

44. Convert a list of words into a string.

In [17]:
in_str=['Welcome', 'to', 'the', 'pwskills']
in_str=" ".join(in_str)
in_str

'Welcome to the pwskills'

45. Create a list of the first `n` powers of 2.

In [20]:
def squares(n):
    power = n
    square_list = []
    for i in range(1,n+1):
        square_list.append(2 ** i)
    return square_list
print(squares(4))

[2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [21]:
test_list = ['pwskills', 'is', 'best', 'for', 'python']
print("The original list : " + str(test_list))
res = max(test_list, key = len)
print("Maximum length string is : " + res)

The original list : ['pwskills', 'is', 'best', 'for', 'python']
Maximum length string is : pwskills

47. Find the shortest string in a list of strings.

In [23]:
test_list = ['pwskills', 'is' , 'best', 'for', 'python']
print("The original list : " + str(test_list))
res = min(test_list, key = len)
print("Minimum length string is : " + res)

The original list : ['pwskills', 'is', 'best', 'for', 'python']
Minimum length string is : is

48. Create a list of the first `n` triangular numbers.

In [ ]:
def triangular_series( n ):
    l = []
    j = 1
    k = 1
    for i in range(1, n + 1):
        l.append(k)
        j = j + 1
        k = k + j        
    return(l)
n = 10
triangular_series(n)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [28]:
list1 = [9, 4, 5, 8, 10]
list2 = [10, 5, 4]


a = 0
if(all(i in list1 for i in list2)):
	a = 1

if (a):
	print("Yes, list is subset of other.")
else:
	print("No, list is not subset of other.")

Yes, list is subset of other.

50. Swap two elements in a list by their indices.

In [29]:
def swp(list, pos1, pos2):
	
	list[pos1], list[pos2] = list[pos2], list[pos1]
	return list

List = [23, 65, 19, 90]
pos1, pos2 = 1, 3

print(swp(List, pos1-1, pos2-1))

[19, 65, 23, 90]

# Tuple Based Practice Problem : #

1. Create a tuple with integers from 1 to 5.

In [4]:
tupl=(0,1,2,3,4,5)
print(type(tupl))
print(tupl)

<class 'tuple'>
(0, 1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [10]:
tupl=(0,1,7,3,4,5)
tupl[2]

7

3. Find the length of a tuple without using the `len()` function.

In [14]:
tupl=(0,1,7,3,4,5)
cnt=0
for i in tupl:
    cnt+=1

4. Count the occurrences of an element in a tuple.

In [19]:
tupl = (1, 2, 3, 4, 2, 2, 7, 8)
a=2
count = 0
for ele in tupl:
    if (ele == a):
        count = count + 1
        
print("Number of Occurrences of ",a," = ",count)

Number of Occurrences of  2  =  3

5. Find the index of the first occurrence of an element in a tuple.

In [25]:
tupl = (1, 4, 3, 2, 3, 4, 2, 2, 7, 8)
a=2
i=tupl.index(2)

print("Index of the first Occurrences of element ",a," is = ",i)

Index of the first Occurrences of element  2  is =  3

6. Check if an element exists in a tuple.

In [26]:
tupl = (1, 4, 3, 2, 3, 4, 2, 2, 7, 8)
a=4
if a in tupl:
    print("exist")
else:
    print("not exist")

exist

7. Convert a tuple to a list.

In [28]:
tupl = (1, 4, 3, 2, 3, 4, 2, 2, 7, 8)
tupl=list(tupl)
type(tupl)

list

8. Convert a list to a tuple.

In [29]:
list1 = [1, 4, 3, 2, 3, 4, 2, 2, 7, 8]
list1 = tuple(list1)
type(list1)

list

9. Unpack the elements of a tuple into variables.

In [33]:
a = ("MNNIT Allahabad", 5000, "Engineering")
(college, student, type_ofcollege) = a
print(college)
print(student)
print(type_ofcollege)

MNNIT Allahabad
5000
Engineering

10. Create a tuple of even numbers from 1 to 10.

In [59]:
num=[]
for x in range(1,10):
    if x%2==0:
        num.append(x)
        
tupl=tuple(num)
print(tupl)

(2, 4, 6, 8)

11. Create a tuple of odd numbers from 1 to 10.

In [60]:
num=[]
for x in range(1,10):
    if x%2!=0:
        num.append(x)
        
tupl=tuple(num)
print(tupl)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [61]:
tupl1=(0, 2, 4, 6, 8)
tupl2=(1, 3, 5, 7, 9)
tupl3=tupl1+tupl2
tupl3

(0, 2, 4, 6, 8, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [63]:
tupl1=(0, 2, 4, 6, 8) *3
tupl1

(0, 2, 4, 6, 8, 0, 2, 4, 6, 8, 0, 2, 4, 6, 8)

14. Check if a tuple is empty.

In [64]:
tupl1=(0, 2, 4, 6, 8)
if len(tupl1) == 0:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

The tuple is not empty

15. Create a nested tuple.

In [71]:
tupl1=(0, 2, 4, 6, 8)
tupl2=(1, 3, 5, 7, 9)
tupl=('a', 'e', 'i', 'o', 'u')
tupl3=((tupl1, )+(tupl2, )+(tupl, ))
tupl3

((0, 2, 4, 6, 8), (1, 3, 5, 7, 9), ('a', 'e', 'i', 'o', 'u'))

16. Access the first element of a nested tuple.

In [74]:
tupl=((0, 2, 4, 6, 8), (1, 3, 5, 7, 9), ('a', 'e', 'i', 'o', 'u'))
print(tupl[0])

(0, 2, 4, 6, 8)

17. Create a tuple with a single element.

In [75]:
singl_tupl=("apple",)
singl_tupl

('apple',)

18. Compare two tuples.

In [77]:
tuple1 = (2, 4, 6)
tuple2 = (2, 4, 6)
result = tuple1 != tuple2
result

False

19. Delete a tuple.

In [78]:
tup=((0, 2, 4, 6, 8), (1, 3, 5, 7, 9), ('a', 'e', 'i', 'o', 'u'))
print(tup)
del(tup)
print("After deleting the tuple:")
print(tup)

((0, 2, 4, 6, 8), (1, 3, 5, 7, 9), ('a', 'e', 'i', 'o', 'u'))
After deleting the tuple:

NameError: name 'tup' is not defined

20. Slice a tuple.

In [79]:
tuple= ('a','b','c','d','e','f','g','h','i','j')
print(tuple[0:6])
print(tuple[1:9:2])
print(tuple[-1:-5:-2])

('a', 'b', 'c', 'd', 'e', 'f')
('b', 'd', 'f', 'h')
('j', 'h')

21. Find the maximum value in a tuple.

In [80]:
tupl1=(0, 2, 4, 6, 8)
max(tupl1)

8

22. Find the minimum value in a tuple.

In [82]:
tupl1=(0, 2, 4, 6, 8)
min(tupl1)

0

23. Convert a string to a tuple of characters.

In [106]:
string="Hello world"
lst=[]
for char in string:
    lst.append(char)
tupl=tuple(lst)
tupl

('H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

24. Convert a tuple of characters to a string.

In [113]:
final=''
str_tupl=('H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')
for item in str_tupl:
    final = final + item
final

'Hello world'

25. Create a tuple from multiple data types.

In [114]:
tupl=(1,2,3,2.1,4.3,"hello",'d')
print(tupl)
print(type(tupl))

(1, 2, 3, 2.1, 4.3, 'hello', 'd')
<class 'tuple'>

26. Check if two tuples are identical.

In [115]:
test_list1 = [(10, 4), (2, 5)]
test_list2 = [(10, 4), (2, 5)]
res = test_list1 == test_list2
print("Are tuple lists identical ? : " + str(res))

Are tuple lists identical ? : True

27. Sort the elements of a tuple.

In [118]:
tupl=(0, 2, 4, 6, 8, 0, 2, 4, 6, 8, 0, 2, 4, 6, 8)
sorted(tupl)

[0, 0, 0, 2, 2, 2, 4, 4, 4, 6, 6, 6, 8, 8, 8]

28. Convert a tuple of integers to a tuple of strings.

In [125]:
tupl=(0, 2, 4, 6, 8, 0, 2, 4, 6, 8, 0, 2, 4, 6, 8)
lst=[]
for i in tupl:
    lst.append(str(i))
str_tupl=tuple(lst)
str_tupl

('0', '2', '4', '6', '8', '0', '2', '4', '6', '8', '0', '2', '4', '6', '8')

29. Convert a tuple of strings to a tuple of integers.

In [126]:
tupl2=('0', '2', '4', '6', '8', '0', '2', '4', '6', '8', '0', '2', '4', '6', '8')
lst=[]
for i in tupl:
    lst.append(int(i))
int_tupl=tuple(lst)
int_tupl

(0, 2, 4, 6, 8, 0, 2, 4, 6, 8, 0, 2, 4, 6, 8)

30. Merge two tuples.

In [127]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

31. Flatten a nested tuple.

In [128]:
from functools import reduce

def flatten_tuple(nested_tuple):
	def reducer(acc, val):
		if isinstance(val, tuple):
			return acc + flatten_tuple(val)
		else:
			return acc + (val,)

	return reduce(reducer, nested_tuple, ())

# initializing tuple
test_tuple = ((4, 5), ((4, 7), (8, 9), (10, 11)), (((9, 10), (3, 4))))

# printing original tuple
print("The original tuple : " + str(test_tuple))

# flatten nested tuples using reduce() function
res = flatten_tuple(test_tuple)

# printing result
print("The flattened tuple : " + str(res))

The original tuple : ((4, 5), ((4, 7), (8, 9), (10, 11)), ((9, 10), (3, 4)))
The flattened tuple : (4, 5, 4, 7, 8, 9, 10, 11, 9, 10, 3, 4)

32. Create a tuple of the first 5 prime numbers.

In [133]:
n=5
prime_list=[]
for i in range(2,n+1):
    flag=0
    for j in range(2,int(i/2)+1):
        if(i%j==0):
            flag=1
            break  
    if(flag==0):
        prime_list.append(i)
prime_tuple=tuple(prime_list)
prime_tuple

(2, 3, 5)

33. Check if a tuple is a palindrome.

In [137]:
my_tupl=(77, 1, 65, 65, 1, 77)
if my_tupl == my_tupl[::-1]:
    print("palindrome")
else:
    print("not palindrome")

palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [141]:
num=[]
for x in range(1,6):
    x=x*x
    num.append(x)
sq_tuple=tuple(num)
sq_tuple

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [142]:
tupl=(1, 4, 9, 16, 25)
lst=[]
for i in tupl:
    if i%2==0:
        lst.append(i)
even_tupl=tuple(lst)
even_tupl

(4, 16)

36. Multiply all elements in a tuple by 2.

In [143]:
tupl=(1, 4, 9, 16, 25)
lst=[]
for i in tupl:
    i=i*2
    lst.append(i)
tupl=tuple(lst)
tupl

(2, 8, 18, 32, 50)

37. Create a tuple of random numbers.

In [145]:
import random
randomlist = []
for i in range(0,5):
    n = random.randint(1,30)
    randomlist.append(n)
randomtuple=tuple(randomlist)
randomtuple

(17, 17, 13, 20, 26)

38. Check if a tuple is sorted.

In [151]:
def is_tuple_sorted(t):
    for i in range(1, len(t)):
        if t[i] > t[i-1]:
            return False
    return True
t = (5, 4, 3, 2, 1)
print(is_tuple_sorted(t))

True

39. Rotate a tuple to the left by `n` positions.

In [155]:
ln = 2
tupl = (1, 2, 3, 4, 5, 6)
tupl=list(tupl)

print('Original tuple Items Before Left Rotating')
print(tupl)

for i in range(n):
    firstValue = tupl[0]
    for j in range(len(tupl) - 1):
        tupl[j] = tupl[j + 1]
    tupl[len(tupl) - 1] = firstValue

print('Final tuple Items After Left Rotating')
tuple(tupl)

Original tuple Items Before Left Rotating
[1, 2, 3, 4, 5, 6]
Final tuple Items After Left Rotating

(3, 4, 5, 6, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [156]:
def rightRotate(lists, num):
	output_list = []
	for item in range(len(lists) - num, len(lists)):
		output_list.append(lists[item])

	# Will add the values before
	# n to the end of new list
	for item in range(0, len(lists) - num):
		output_list.append(lists[item])

	return tuple(output_list)

n = 2
tupl=(1, 2, 3, 4, 5, 6)
list_1 = list(tupl)

print(rightRotate(list_1, n))

(5, 6, 1, 2, 3, 4)

41. Create a tuple of the first 5 Fibonacci numbers.

In [158]:
def fibonacci_nums(n):
  if n <= 0:
    return [0]
  sequence = [0, 1]
  while len(sequence) <= n:
    next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
    sequence.append(next_value)
  return tuple(sequence)
print("First 5 Fibonacci numbers:")
print(fibonacci_nums(5))

First 5 Fibonacci numbers:
(0, 1, 1, 2, 3, 5)

42. Create a tuple from user input.

In [160]:
my_tuple = tuple(input('Enter space-separated words: ').split())

print(my_tuple)

Enter space-separated words:  1 2 3 4 5 6 6

('1', '2', '3', '4', '5', '6', '6')

43. Swap two elements in a tuple.

In [164]:
i = ('title', 'email', 'password2', 'password1', 'first_name', 'last_name', 'next', 'newsletter')
i=list(i)
a, b = i.index('password2'), i.index('password1')
i[b], i[a] = i[a], i[b]
i=tuple(i)
i

('title',
 'email',
 'password1',
 'password2',
 'first_name',
 'last_name',
 'next',
 'newsletter')

44. Reverse the elements of a tuple.

In [165]:
i = ('title', 'email', 'password2', 'password1', 'first_name', 'last_name', 'next', 'newsletter')
i[::-1]

('newsletter',
 'next',
 'last_name',
 'first_name',
 'password1',
 'password2',
 'email',
 'title')

45. Create a tuple of the first `n` powers of 2.

In [166]:
def squares(n):
    power = n
    square_list = []
    for i in range(1,n+1):
        square_list.append(2 ** i)
    return tuple(square_list)
print(squares(4))

(2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [169]:
test_tupl=('pwskills', 'is', 'best', 'for', 'python')
test_list = list(test_tupl)
print("The original tuple is : " + str(test_tupl))
res = max(test_list, key = len)
print("Maximum length string is : " + res)

The original tuple is : ('pwskills', 'is', 'best', 'for', 'python')
Maximum length string is : pwskills

47. Find the shortest string in a tuple of strings.

In [3]:
test_tupl=('pwskills', 'is', 'best', 'for', 'python')
test_list = list(test_tupl)
print("The original tuple is : " + str(test_tupl))
res = min(test_list, key = len)
print("Minimum length string is : " + res)

The original tuple is : ('pwskills', 'is', 'best', 'for', 'python')
Minimum length string is : is

48. Create a tuple of the first `n` triangular numbers.

In [29]:
def triangular_series( n ):
    l = []
    j = 1
    k = 1
    for i in range(1, n + 1):
        l.append(k)
        j = j + 1
        k = k + j        
    return(tuple(l))
n = 10
triangular_series(n)

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

49. Check if a tuple contains another tuple as a subsequence.

In [30]:
test_tup1 = (10, 4, 5, 6)
test_tup2 = (5, 10)
res = set(test_tup2).issubset(test_tup1)
print("Is 2nd tuple subset of 1st ? : " + str(res))

Is 2nd tuple subset of 1st ? : True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [34]:
result = []
length = 7
for i in range(length):
    if i % 2 == 0:
        result.append(1)
    else:
        result.append(0)

# printing the result
tupl=tuple(result)
tupl

(1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problem : #

1. Create a set with integers from 1 to 5.

In [36]:
n = 5
my_set = set(range(n))
print(my_set)

{0, 1, 2, 3, 4}

2. Add an element to a set.

In [37]:
my_set={0, 1, 2, 3, 4}
my_set.add(5)
my_set

{0, 1, 2, 3, 4, 5}

3. Remove an element from a set.

In [39]:
my_set={0, 1, 2, 3, 4, 5}
my_set.pop()
my_set

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [43]:
my_set={0, 1, 2, 3, 4, 5}
if 5 in my_set:
    print("exixts")
else:
    print("not exists")

exixts

5. Find the length of a set without using the `len()` function.

In [47]:
my_set={0, 1, 2, 3, 4, 5}
cnt=0
for i in my_set:
    cnt+=1
cnt

6

6. Clear all elements from a set.

In [48]:
my_set={0, 1, 2, 3, 4, 5}
my_set.clear()

7. Create a set of even numbers from 1 to 10.

In [57]:
num=[]
for x in range(1,10):
    if x%2==0:
        num.append(x)
    my_set=set(num)
my_set

{2, 4, 6, 8}

8. Create a set of odd numbers from 1 to 10.

In [58]:
num=[]
for x in range(1,10):
    if x%2!=0:
        num.append(x)
    my_set=set(num)
my_set

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [61]:
my_set1={2, 4, 6, 8}
my_set2={1, 3, 5, 7, 9}
my_set1.union(my_set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

10. Find the intersection of two sets.

In [63]:
my_set1={2, 4, 6, 8}
my_set2={1, 2, 3, 4, 5, 6, 7, 8, 9}
my_set2.intersection(my_set1)

{2, 4, 6, 8}

11. Find the difference between two sets.

In [66]:
my_set1={2, 4, 6, 8}
my_set2={1, 2, 3, 4, 5, 6, 7, 8, 9}
my_set2.difference(my_set1)

{1, 3, 5, 7, 9}

12. Check if a set is a subset of another set.

In [68]:
my_set1={2, 4, 6, 8}
my_set2={1, 2, 3, 4, 5, 6, 7, 8, 9}
my_set1.issubset(my_set2)

True

13. Check if a set is a superset of another set.

In [69]:
my_set1={2, 4, 6, 8}
my_set2={1, 2, 3, 4, 5, 6, 7, 8, 9}
my_set2.issuperset(my_set1)

True

14. Create a set from a list.

In [70]:
my_list=[1, 2, 3, 4, 5, 6, 7, 8, 9]
my_set=set(my_list)
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

15. Convert a set to a list.

In [72]:
my_set={1, 2, 3, 4, 5, 6, 7, 8, 9}
my_list=list(my_list)
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

16. Remove a random element from a set.

In [81]:
import random
my_set={1, 2, 3, 4, 5, 6, 7, 8, 9}
e=random.sample(my_set,1)[0]
my_set.remove(e)
my_set

/tmp/ipykernel_5536/296177229.py:3: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  e=random.sample(my_set,1)[0]

{1, 2, 3, 4, 6, 7, 8, 9}

17. Pop an element from a set.

In [75]:
my_set={1, 2, 3, 4, 5, 6, 7, 8, 9}
my_set.pop()
my_set

{2, 3, 4, 5, 6, 7, 8, 9}

18. Check if two sets have no elements in common.

In [85]:
my_set1={2, 41, 61, 81}
my_set2={1, 2, 3, 4, 5, 6, 7, 8, 9}
if my_set1.isdisjoint(my_set2):
    print("no common elements present")
else:
    print("common elements present")

common elements present

19. Find the symmetric difference between two sets.

In [88]:
my_set1={2, 4, 6, 81}
my_set2={1, 2, 3, 4, 5, 6, 7, 8, 9}
my_set1.symmetric_difference(my_set2)

{1, 3, 5, 7, 8, 9, 81}

20. Update a set with elements from another set.

In [90]:
my_set1={2, 41, 61, 81}
my_set2={1, 2, 3, 4, 5, 6, 7, 8, 9}
my_set2.update(my_set1)
my_set2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 41, 61, 81}

21. Create a set of the first 5 prime numbers.

In [93]:
n=5
prime_list=[]
for i in range(2,n+1):
    flag=0
    for j in range(2,int(i/2)+1):
        if(i%j==0):
            flag=1
            break  
    if(flag==0):
        prime_list.append(i)
prime_set=set(prime_list)
prime_set

{2, 3, 5}

22. Check if two sets are identical.

In [95]:
my_set1={2, 41, 61, 81}
my_set2={2, 41, 61, 81}
print("Set1 and Set2 are ientical? ",my_set1 == my_set2)

Set1 and Set2 are ientical?  True

23. Create a frozen set.

In [97]:
vowl_set={'a' ,'e', 'i', 'o', 'u'}
frz_set=frozenset(vowl_set)
frz_set

frozenset({'a', 'e', 'i', 'o', 'u'})

24. Check if a set is disjoint with another set.

In [99]:
my_set1={2, 41, 61, 81}
my_set2={2, 41, 61, 81}
my_set1.isdisjoint(my_set2)

False

25. Create a set of squares of numbers from 1 to 5.

In [102]:
num=[]
for x in range(1,6):
    x=x*x
    num.append(x)
sq_set=set(num)
sq_set

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [112]:
set_1 = {1, 2, 3, 4, 5, 6}

out = []

for num in set_1:

	# checking condition
	if num % 2 == 0:
		out.append(num)
out=set(out)

set_1.difference(out)

{1, 3, 5}

27. Multiply all elements in a set by 2.

In [116]:
set_1 = {1, 2, 3, 4, 5, 6}
list_1=[]
for i in set_1:
    i *=2
    list_1.append(i)
set_2=set(list_1)
set_2

{2, 4, 6, 8, 10, 12}

28. Create a set of random numbers.

In [117]:
import random
randomlist = []
for i in range(0,5):
    n = random.randint(1,30)
    randomlist.append(n)
randomset=set(randomlist)
randomset

{2, 9, 15, 16, 21}

29. Check if a set is empty.

In [119]:
my_set1={2, 9, 15, 16, 21}
if len(my_set) > 0:
    print("Not Empty")
else:
    print("empty")

Not Empty

30. Create a nested set (hint: use frozenset).

In [121]:
s = set([frozenset([1,2]), frozenset([3,4])])
s

{frozenset({3, 4}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [126]:
my_set={1, 2, 3, 4, 6, 7, 8, 9}
my_set.discard(2)
my_set

{1, 3, 4, 6, 7, 8, 9}

32. Compare two sets.

In [127]:
myset1 = {12,90,43,56}
myset2 = {43,56,12,90}
myset3 = {43,56,12}

print("Set1 and Set2 equal? ",myset1 == myset2)
print("Set1 and Set3 equal? ",myset1 == myset3)

Set1 and Set2 equal?  True
Set1 and Set3 equal?  False

33. Create a set from a string.

In [130]:
my_str="Hello Pwskills"
my_set=set(my_str)
my_set

{' ', 'H', 'P', 'e', 'i', 'k', 'l', 'o', 's', 'w'}

34. Convert a set of strings to a set of integers.

In [133]:
test_set = {'1', '4', '3', '6', '7'}
test_list=list(test_set)
for i in range(0, len(test_list)):
	test_list[i] = int(test_list[i])
print("Modified set is : ",set(test_list))

Modified set is :  {1, 3, 4, 6, 7}

35. Convert a set of integers to a set of strings.

In [135]:
test_set = {1, 3, 4, 6, 7}
test_list=list(test_set)
for i in range(0, len(test_list)):
	test_list[i] = str(test_list[i])
print("Modified set is : ",set(test_list))

Modified set is :  {'7', '3', '1', '6', '4'}

36. Create a set from a tuple.

In [8]:
my_tuple=(1, 3, 4, 6, 2 )
my_set=set(my_tuple)
type(my_set)
print(my_set)

{1, 2, 3, 4, 6}

37. Convert a set to a tuple.

In [11]:
my_set={1, 2, 3, 4, 6}
my_typle=tuple(my_set)
my_tuple

(1, 3, 4, 6, 2)

38. Find the maximum value in a set.

In [12]:
my_set={1, 2, 3, 4, 6}
max(my_set)

6

39. Find the minimum value in a set.

In [13]:
my_set={1, 2, 3, 4, 6}
min(my_set)

1

40. Create a set from user input.

In [14]:
my_set = set(input('Enter space-separated words: ').split())

print(my_set)

Enter space-separated words:  hi pwskills

{'pwskills', 'hi'}

41. Check if the intersection of two sets is empty.

In [21]:
set1 = {1, 2, 3, 4, 6}
set2 = {7, 8, 0, 4}

if len(set(set1.intersection(set2))) > 0:
    print("not empty")
else:
    print("empty")

not empty

42. Create a set of the first 5 Fibonacci numbers.

In [22]:
def fibonacci_nums(n):
  if n <= 0:
    return [0]
  sequence = [0, 1]
  while len(sequence) <= n:
    next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
    sequence.append(next_value)
  return set(sequence)
print("First 5 Fibonacci numbers:")
print(fibonacci_nums(5))

First 5 Fibonacci numbers:
{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [26]:
my_list=[ 1, 2, 1, 3, 2]
my_set=set(my_list)
my_list=list(my_set)
my_list

[1, 2, 3]

44. Check if two sets have the same elements, regardless of their count.

In [34]:
set1={ 1, 2, 1, 3, 2 }
set2={ 1, 2, 3 }
set1 == set2

True

45. Create a set of the first `n` powers of 2.

In [41]:
def squares(n):
    power = n
    square_list = []
    for i in range(1,n+1):
        square_list.append(2 ** i)
    return sorted(set(square_list))
print(squares(4))

[2, 4, 8, 16]

46. Find the common elements between a set and a list.

In [43]:
my_list=[1, 2, 3]
my_list=set(my_list)
my_set={1, 4, 5}
my_set.intersection(my_list)

{1}

47. Create a set of the first `n` triangular numbers.

In [44]:
def triangular_series( n ):
    l = []
    j = 1
    k = 1
    for i in range(1, n + 1):
        l.append(k)
        j = j + 1
        k = k + j        
    return(set(l))
n = 10
triangular_series(n)

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

48. Check if a set contains another set as a subset.

In [46]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5}
print(s2.issubset(s1))

True

49. Create a set of alternating 1s and 0s of length `n`.

In [47]:
result = []
length = 7
for i in range(length):
    if i % 2 == 0:
        result.append(1)
    else:
        result.append(0)

# printing the result
set_alter=set(result)
set_alter

{0, 1}

50. Merge multiple sets into one.

In [50]:
s1 = {1, 2, 3, 4, 5}
s2 = {47, 51, 15}
s3={11, 12}
(s1.union(s2)).union(s3)

{1, 2, 3, 4, 5, 11, 12, 15, 47, 51}